In [2]:
a=20
b=40
c=a+b
print("The sum of",a,"and",b,"is",c)

The sum of 20 and 40 is 60

# Python Getting started

### Python basics

* Python is interpreted
* Python need no data type declartion (no data types)
* We can check the data types by using type
* Python a multi paradigm programming language (structural, functional, oop)
* But it is immensely popular because of functional style of programming
* Python data has 4 scalar type ( number(int,float), string, boolean,)
* it infers type automatically and also supports type conversion

In [3]:
a=20
b=40.4
c=True
d="Hello World"  # Python string can be either in single quote or double quote

In [4]:
print(type(a))  # int
print(type(b))  # float
print(type(c))  # bool
print(type(d))  # str

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

### Python Literals

* **Literals** are data given in a variable or constant.
* Python supports several types of literals:
    - **Numeric literals**: Integers (`a = 20`), floating-point numbers (`b = 40.4`)
    - **String literals**: Text enclosed in single or double quotes (`d = "Hello World"`)
    - **Boolean literals**: `True` and `False` (`c = True`)
* Literals represent fixed values and are assigned directly to variables.
* Python automatically infers the type of literal assigned to a variable.

* Python also supports **binary**, **octal**, and **hexadecimal** literals:
    - **Binary**: Prefix with `0b` or `0B` (e.g., `x = 0b1010`)
    - **Octal**: Prefix with `0o` or `0O` (e.g., `y = 0o12`)
    - **Hexadecimal**: Prefix with `0x` or `0X` (e.g., `z = 0xA`)
* These literals are useful for working with different number systems in programming.

In [7]:
print(a)
a=0b1010  # binary representation of 10
print(a)
a=0o12    # octal representation of 10
print(a)
a=0xA     # hexadecimal representation of 10
print(a)

10
10
10
10

# printing integers in hexadecimal,binary and octal

To print an integer in hexadecimal, octal, and binary formats, use the built-in `hex()`, `oct()`, and `bin()` functions:

```python
print("Hexadecimal:", hex(a))
print("Octal:", oct(a))
print("Binary:", bin(a))
```

In [8]:
print("Hexadecimal representation of 255 is", hex(255))
print("Octal representation of 255 is", oct(255))
print("Binary representation of 255 is", bin(255))

Hexadecimal representation of 255 is 0xff
Octal representation of 255 is 0o377
Binary representation of 255 is 0b11111111

In [9]:
a=40
b=40.4
c=34
d="Hello World"
print(isinstance(a, int))      # True
print(isinstance(b, float))    # True
print(isinstance(c, bool))     # False
print(isinstance(d, str))      # True

True
True
False
True

## Formatted output in python

Formatted output in Python allows you to display variables and values in a structured and readable way. There are several methods for formatting output:

- **Using the `print()` function with commas:**  
    This automatically adds spaces between items.  
    Example:  
    `print("The value of a is", a)`

- **String concatenation:**  
    Combine strings and variables using `+`.  
    Example:  
    `print("The value of b is " + str(b))`

- **Old-style formatting with `%`:**  
    Use format specifiers like `%d` for integers, `%f` for floats, `%s` for strings.  
    Example:  
    `print("a = %d, b = %.2f, d = %s" % (a, b, d))`

- **`str.format()` method:**  
    Insert values into placeholders `{}`.  
    Example:  
    `print("a = {}, b = {:.2f}, d = {}".format(a, b, d))`

- **f-strings (Python 3.6+):**  
    Embed expressions inside string literals, prefixed with `f`.  
    Example:  
    `print(f"a = {a}, b = {b:.2f}, d = {d}")`

Formatting options allow control over decimal places, alignment, padding, and more. F-strings are the most modern and recommended approach for formatted output in Python.

# Python collections

Python collections are data structures used to store multiple values. The main built-in collection types are:

- **List**: Ordered, mutable sequence of elements. Example: `my_list = [1, 2, 3]`
- **Tuple**: Ordered, immutable sequence of elements. Example: `my_tuple = (1, 2, 3)`
- **Set**: Unordered collection of unique elements. Example: `my_set = {1, 2, 3}`
- **Dictionary**: Unordered collection of key-value pairs. Example: `my_dict = {'a': 1, 'b': 2}`

Collections allow you to group related data and perform operations such as iteration, searching, and modification. Lists and dictionaries are the most commonly used collection types in Python.

In [36]:
# String formatting using f-strings (f"")
print(f"a = {a}, b = {b:.2f}, c = {c}, d = {d}")
print(f"first_list has {len(first_list)} elements: {first_list}")
print(f"tuplea reversed: {tuplea[::-1]}")

a = 40, b = 40.40, c = 34, d = Hello World
first_list has 17 elements: [1, 500, 34, 56, 6, 34, 34, 65, 34, 6, 34, 5, 36, 3, 3, 1, 1001]
tuplea reversed: (5, 4, 3, 2, 1)

# List 

* List is linear collection  of elements
* List is indexed
* index starts from 0
* It is ordered
* you can insert or remove ,read elements at any position
* It can duplicates
* it have None  values
* list elements are enclosed within []

In [10]:
lista=[1, 2, 3, 4, 5]  # list
listb=["apple", "banana", 1,3,4,15.6, ,None,True]  # list with mixed data types
listc=[1,2, [1,2,3], ["a","b","c"]]  # nested list

In [13]:
first_list=[1,34,34,56,345,6,34,34,65,34,6,34,5,36,3,3,1,]
print(first_list)
print(type(first_list))
print(first_list[3])  # accessing element at index 3
print(len(first_list))  # length of the list
first_list.append(1001)  # adding element at the end
print(first_list)
first_list.insert(2, 500)  # inserting 500 at index 2
print(first_list)
first_list.remove(34)  # removes first occurrence of 34
del first_list[4]  # deletes element at index 4
print(first_list)

[1, 34, 34, 56, 345, 6, 34, 34, 65, 34, 6, 34, 5, 36, 3, 3, 1]
<class 'list'>
56
17
[1, 34, 34, 56, 345, 6, 34, 34, 65, 34, 6, 34, 5, 36, 3, 3, 1, 1001]
[1, 34, 500, 34, 56, 345, 6, 34, 34, 65, 34, 6, 34, 5, 36, 3, 3, 1, 1001]
[1, 500, 34, 56, 6, 34, 34, 65, 34, 6, 34, 5, 36, 3, 3, 1, 1001]

### Slicing

In [14]:
print(first_list)

[1, 500, 34, 56, 6, 34, 34, 65, 34, 6, 34, 5, 36, 3, 3, 1, 1001]

In [23]:
print(first_list[0:4])  # slicing from index 0 to 3
print(first_list[5:])   # slicing from index 5 to end
print(first_list[:6])   # slicing from start to index 5
print(first_list[0:10:2])  # slicing from index 0 to 9 with step 2
print(first_list[0::2])  # slicing entire list with step 2
print(first_list[::-1])  # reversing the list
print("Last five elements:", first_list[-5:])  # last five elements
print("Last five elements reversed:", first_list[-1:-6:-1])  # last five elements in reverse order

[1, 500, 34, 56]
[34, 34, 65, 34, 6, 34, 5, 36, 3, 3, 1, 1001]
[1, 500, 34, 56, 6, 34]
[1, 34, 6, 34, 34]
[1, 34, 6, 34, 34, 34, 36, 3, 1001]
[1001, 1, 3, 3, 36, 5, 34, 6, 34, 65, 34, 34, 6, 56, 34, 500, 1]
Last five elements: [36, 3, 3, 1, 1001]
Last five elements reversed: [1001, 1, 3, 3, 36]

In [24]:
for item in first_list:
    print(item)

1
500
34
56
6
34
34
65
34
6
34
5
36
3
3
1
1001

### tuple

* tuple is a read only version of list
* List is mutable
* Tuple is immutable
* tuple elements are enclosed with ()

In [27]:
tuplea=(1, 2, 3, 4, 5)
print(tuplea)
print(tuplea[2])  # accessing element at index 2
print(len(tuplea))  # length of the tuple
print(tuplea[::-1])  # reversing the tuple
for item in tuplea:
    print(item)

(1, 2, 3, 4, 5)
3
5
(5, 4, 3, 2, 1)
1
2
3
4
5

In [30]:
print(first_list)
first_tuple=tuple(first_list)
print(first_tuple)
mylist=list(tuplea)
print(mylist)

[1, 500, 34, 56, 6, 34, 34, 65, 34, 6, 34, 5, 36, 3, 3, 1, 1001]
(1, 500, 34, 56, 6, 34, 34, 65, 34, 6, 34, 5, 36, 3, 3, 1, 1001)
[1, 2, 3, 4, 5]

# Set

* Set is an unordered collection of unique elements
* Sets are not indexed (no position-based access)
* Elements are not stored in any particular order
* You cannot access or change elements by index
* Sets do not allow duplicate values
* Sets can contain elements of different data types
* Set elements are enclosed within `{}` (curly braces)
* Useful for membership testing, removing duplicates, and set operations (union, intersection, difference)

In [31]:
seta={1, 2, 3, 4, 5, 5, 4, 3}
print(seta)  # duplicates removed
setb={"apple", "banana", "cherry", "apple", 1,2,3,2,1}
print(setb)  # duplicates removed
seta.add(6)
seta.remove(3)

{1, 2, 3, 4, 5}
{1, 2, 3, 'banana', 'cherry', 'apple'}

## Set operations

Set operations allow you to perform mathematical operations on sets, such as combining, comparing, and finding differences between them. The main set operations in Python are:

- **Union (`seta.union(setb)` or `seta | setb`)**: Combines all unique elements from both sets.
- **Intersection (`seta.intersection(setb)` or `seta & setb`)**: Returns elements common to both sets.
- **Difference (`seta.difference(setb)` or `seta - setb`)**: Returns elements in the first set but not in the second.
- **Symmetric Difference (`seta.symmetric_difference(setb)` or `seta ^ setb`)**: Returns elements in either set, but not in both.

These operations are useful for tasks like removing duplicates, finding common elements, and comparing datasets.

In [33]:
for item in seta:
    print(item)

seta={1, 2, 3, 4, 5}
setb={4, 5, 6, 7, 8,1,3}
print("Union:", seta.union(setb))
print("Intersection:", seta.intersection(setb))
print("Difference (seta - setb):", seta.difference(setb))
print("Difference (setb - seta):", setb.difference(seta))
print("Symmetric Difference:", seta.symmetric_difference(setb))

1
2
4
5
6
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {1, 3, 4, 5}
Difference (seta - setb): {2}
Difference (setb - seta): {8, 6, 7}
Symmetric Difference: {2, 6, 7, 8}

In [35]:
lista=[1, 2, 3, 4, 5,53,56,7,78,8,89,9,90,0,0,1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9]
without_duplicates=list(set(lista))
print("Original list:", lista)
print("List without duplicates:", without_duplicates)

Original list: [1, 2, 3, 4, 5, 53, 56, 7, 78, 8, 89, 9, 90, 0, 0, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9]
List without duplicates: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 78, 53, 56, 89, 90]

### Dictionary in python

A **dictionary** in Python is an unordered collection of key-value pairs. Each key must be unique and immutable (such as strings, numbers, or tuples), while values can be of any data type and can be duplicated. Dictionaries are defined using curly braces `{}` with keys and values separated by a colon `:`.

**Example:**
```python
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
```

**Key features:**
- Access values using keys: `my_dict['name']` returns `'Alice'`
- Add or update values: `my_dict['age'] = 26`
- Remove items: `del my_dict['city']`
- Check if a key exists: `'name' in my_dict`
- Iterate over keys, values, or items:
    - `for key in my_dict:`
    - `for value in my_dict.values():`
    - `for key, value in my_dict.items():`

Dictionaries are useful for representing structured data and for fast lookups by key.

In [37]:
person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

print("Name:", person["name"])
print("Age:", person["age"])
print("City:", person["city"])

for key, value in person.items():
    print(f"{key}: {value}")

for key in person.keys():
    print(key)

for value in person.values():
    print(value)

Name: John
Age: 30
City: New York
name: John
age: 30
city: New York
name
age
city
John
30
New York

In [38]:
person["country"] = "USA"
person["email"] = "john@example.com"
person["is_student"] = False
print(person)

{'name': 'John', 'age': 30, 'city': 'New York', 'country': 'USA', 'email': 'john@example.com', 'is_student': False}